secrets.yaml
config.yaml
.esphome
.DS_Store
demo.yaml
notes.md


fonts/mdi/*
!fonts/mdi/LICENSE
!fonts/mdi/fonts
fonts/mdi/fonts/*
!fonts/mdi/fonts/materialdesignicons-webfont.woff


node_modules
.env*
